*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.card{
    font-weight: bold;
    position: absolute;
    align-items: center;
    top: 750px;
    background-color:  #5D6D7E;
    border-radius: 10px;
    margin-bottom: 20px;
    width: 20rem;
    height: 160px;
    box-shadow: 0px 0px 10px 10px rgba(0,0,0);
    text-align: center;
    line-height: 40px;  
    display: row;  
    text-align: center;
    
}

.card h1{
    font-size: 20px;
    height: 30px;
    padding-top: 4%;
    }

.accion{
    font-size: 20px;
    padding: 20px;
    font-weight: bold;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0);
    border-radius: 10px;
    margin-top: 10px;
    text-align: center;    
    display: row;
    align-items: center;
    height: 70px;
    color: white;
    background-color: #9198a0;
}